@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

h1, h2, h3, h4 {
    font-family: 'Noto Sans', sans-serif;
}

header {
    display: flex; 
    align-items: center;
    border-bottom: solid 2px #d0d0d0;
    box-shadow: 5px 5px 3px 5px #404040;
    padding: 10px
}

.fa-search, .fa-user {
    margin-right: 10px;
}

.cart { 
    display:inline-block;
    margin-right: 10px;
}

.go-back { 
    display:flex; 
    align-items: center;
    padding: 10px 15px;
    border-bottom: solid 2px #d0d0d0;
}

.go-back h3 { 
    margin-right: 10px;
}

.go-back a { 
    text-decoration: none;
    color: black;
}

.hamburger {
    padding: 15px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .hamburger-line {
    display: block;
    width: 75%;
    height: 3px;
    border-radius: 4px;
    background-color: #181818;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s ease-out;
  }

  .hamburger-line:not(:first-child) {
    margin-top: 3px;
  }

  .icons {
      margin-left: auto;
  }

  .logo {
      margin-top: 8px;
      max-width: 30%;
      height: auto;
  }

  .menu-bottom { 
    background-color: #F4F4F4;
    height: 100vh;
    padding: 10px 15px;
  }

  .menu-bottom-items {
    display: flex; 
    align-items: center;
    padding: 10px 0px;
  }

  .menu-header { 
      display:flex; 
      justify-content: space-between;
      padding: 10px 15px;
      background: black;
  }

  .menu-header h3 {
      font-size: 18px; 
      color: white;
  }

  .menu-items {
    display:flex; 
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: solid 2px #d0d0d0;
  }

  .menu-items {
      font-size: 18px; 
  }

  .menu-items a {
      text-decoration: none;
      color: black;
  }

  .safety-badge { 
      height: 18px;
      width: 18px;
      margin-right: 2px;
  }

  .solutions-bottom { 
        background-color: #F4F4F4;
        height: 100vh;
  }
 
  .solutions-bottom-items { 
    display:flex; 
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: solid 2px #d0d0d0;
  }

  .usa-flag { 
      width: 23px; 
      height: 30px;
      margin-right: 5px;
  }

@media all and (min-width: 800px) { 
    .content { 
        background-color: #CCCCCC;
        height: 100vh;
    }

    .hamburger { 
        display: none;
    }


  .logo {
    margin-bottom: 12px;
    max-width: 15%;
    height: auto;
}
}