@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

.content {
    background-color: black; 
    height: 100vh;
}

/* desktop-view */
.desktop-view { 
    display: none;
}

.desktop-menu { 
    display: none;
}

.desktop-search {
    display: none;
}

/* fonts */
h1, h2, h3, h4 {
    font-family: 'Noto Sans', sans-serif;
}

h4 { 
    font-size: 16px;
}

p {
    font-family: 'Public Sans', sans-serif;
}

header {
    display: flex; 
    align-items: center;
    border-bottom: inset 2px #d0d0d0;
    height: auto;
    padding: 5px 0px;
    }

.fa-map-marker-alt, .fa-question-circle  {
    margin-right: 5px;
}

.fa-search, .fa-user {
    margin-right: 10px;
}

.fa-times {
    font-size: 18px;
    color: white;
}

.cart { 
    display:inline-block;
    margin-right: 10px;
}

.go-back { 
    display:flex; 
    align-items: center;
    padding: 10px 15px;
    border-bottom: solid 1px #d0d0d0;
}

.go-back h4 { 
    margin-right: 10px;
}

.go-back a { 
    text-decoration: none;
    color: black;
}

.hamburger {
    padding: 15px;
    width: 58px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .hamburger-line {
    display: block;
    width: 75%;
    height: 3px;
    border-radius: 4px;
    background-color: #181818;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s ease-out;
  }

  .hamburger-line:not(:first-child) {
    margin-top: 3px;
  }

  .hidden {
    display: none;
}

  ul h4 {
    padding-bottom: 30px;
}

  .icons {
      margin-left: auto;
  }

  .logo {
      max-width: 7em;
      height: auto;
  }

  .menu-bottom { 
    background-color: #F4F4F4;
    height: 100vh;
    padding: 10px 15px;
  }

  .menu-bottom-items {
    display: flex; 
    align-items: center;
    padding: 10px 0px;
  }

  .menu-header { 
      display:flex; 
      justify-content: space-between;
      padding: 10px 15px;
      background: black;
  }

  .menu-header h4 { 
      color: white;
  }

  .menu-items {
    display:flex; 
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: solid 1px #d0d0d0;
  }

  .menu-items {
      font-size: 18px; 
  }

  .redirect {
      text-decoration: none;
      color: black;
  }

  .safety-badge { 
      height: 18px;
      width: 18px;
      margin-right: 2px;
  }

  .solutions-bottom { 
        background-color: #F4F4F4;
        height: 100vh;
  }
 
  .solutions-bottom-items { 
    display:flex; 
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: solid 1px #d0d0d0;
  }

  .usa-flag { 
      width: 23px; 
      height: 30px;
      margin-right: 5px;
  }

@media all and (min-width: 800px) { 
    .content {
        background-color: #CCCCCC;
        box-shadow: 5px 5px 5px 6px #ccc;
    }

    .desktop-view {
        align-content: center;
    }

    .desktop-icons {
        margin-left: auto;
    }

    .desktop-menu-items { 
        display: flex;
    }
    
    .desktop-search { 
       display: flex;
       position: absolute;
       right: 10px;
    }

    .desktop-search p {
        margin-right: 10px;
    }

    .desktop-view { 
        display: flex;
        align-items: center;
        background: black;
    }

    .desktop-view h4 { 
        color: white;
        font-size: 13px;
    }

    .desktop-menu {
        display: flex;
    }

    .desktop-menu h4 { 
        margin-left: 50px;
    }

    .desktop-shield-badge {
        height: auto;
        width: 16px;
        background-color: black;
        align-self: center;
        position: fixed;
        top: 11.48px;
        right: 176px;
    }

    .fa-question-circle, .fa-map-marker-alt, .fa-user, .fa-shield-check, .fa-shopping-cart
    {
        color:white;
        margin-left: 10px;
    }

    .fa-shopping-cart {
        background-color: #b81830;
        padding: 10px 0px 10px 10px;
    }

    .hamburger, .arrow { 
        display: none;
    }

    .icons { 
        display: none;
    }

  .logo {
    margin: 10px 0px 10px 15px;
    width: 150px;
    height: auto;
}

  .usa-flag { 
    margin: 4.5px 6px 4.5px 15px;
}

    .active {
        background-color: white;
        padding: 30px 0px 255px 50px; 
        height: 100%;
    }

    .content-two-active {
        background-color: #404040;
        height: 100vh;
    }

    .solutions-active {
        color: #B81830;
        border-spacing: 100px;
    }

    #solutions {
        cursor: pointer;
    }

    .red {
        text-decoration: underline #B81830;
        text-decoration-thickness: 3px;
        text-underline-offset: 1.48em;
    }

}